body {
  margin: 0;
  padding: 0;

  width: 100vw;
  min-height: 100vh;

  background-color: #301934;

  font-family: Roboto;
}

html,
body,
#root {
  height: 100vh;
  background-color: #301934;

  overflow-x: hidden;
}
